* {
  box-sizing: border-box;
  background-color: rgb(173, 173, 173);
}

.login_h {
  display: flex;
  justify-content: center;
  padding: 35px;
  font-size: 25px;
}

.content_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_box_grid {
  display: grid;
  grid-gap: 15px;
  width: 30%;
}

.form_h {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.form_h h2 {
  text-align: center;
}

.fn {
  grid-column: 1;
  grid-row: 2;
}

.ln {
  grid-column: 2;
  grid-row: 2;
}

.un {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.em {
  grid-column: 1 / span 2;
  grid-row: 4;
}

.pw {
  grid-column: 1 / span 2;
  grid-row: 6
}

.check {
  grid-column: 1 / span 2;
  grid-row: 7;
}

a {
  color: rgb(59, 59, 192);
}

.button {
  grid-column: 1 / span 2;
  grid-row: 8;
}

.form_box h2{
  text-align: center;
}

input[type=text], input[type=password], input[type=date] {
  width: 100%;
  padding: 9px;
  margin: 5px 0 5px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}

#regButton {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: solid;
  background-color: #1abc9c;
  cursor: pointer;
  color: blanchedalmond;
  padding: 9px 14px;
  margin: 8px 0;
  border: none;
  opacity: 0.7;
}

#regButton:hover {
  opacity: 1;
}

hr {
  visibility: hidden;
}

.new_user p {
  text-align: center;
}